   <div class="container-fluid" ng-show="clients">
  <table class="table table-bordered">
    <thead>
      <th>Nome</th>
      <th>Idade</th>
      <th>Apagar?</th>
    </thead>
    <tbody>
      <tr ng-repeat="client in clients" ng-click="sendScope(client.id)">
        <td>{{client.name}}</td>
        <br>
        <td>{{client.age}}</td>
        <td>
          <button type="button" class="glyphicon glyphicon-trash" ng-click='deleteClient(client.id)'></button>
      </tr>
    </tbody>
  </table>
  <br></br>
  <form>
    <div>
      <label>Nome:</label>
      <input type='text' ng-model='client.name' id="name">
    </div>
    <div>
      <label>Idade:  </label>
      <input type='text' ng-model='client.age' id="age">
    </div>
    <div>
      </br>
      <input type='button' class='btn btn-sm btn-default' value='Adicionar' ng-click='addClient()' ng-show="!client.id">
      <input type='button' class='btn btn-sm btn-default' value='Editar' ng-click='updateClient()' ng-show="client.id">
      <input type='button' class='btn btn-sm btn-default' value='Cancelar' id="cancel" ng-click='cancel()'></input>
    </div>
  </form>
  <script src="js/aaClientController.js"></script>
  <script src="js/ClientServices.js"></script>
</div>