<<<<<<< HEAD
<html ng-app="app">
  
  <head>
    <script src="lib/angular.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.js"></script>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"
    />
    <script src="js/app.js"></script>
    <script src="js/ClientServices.js"></script>
    <script src="js/ProductServices.js"></script>
    <style>
      form {  
        margin: 0 auto; 
        padding: 0;
        min-width: 350px;
        max-width: 450px;
        width:250px;
      }

      form label { 
	     display: block;  
	     float: left; 
	     width: 90px; 
	     padding: 0; 
	     margin: 5px 0 0;
	     text-align: left; 
       }
      
    </style>
  </head>
  
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <!-- <button class="navbar-brand" ng-click="">Cliente</button>-->
          <a type="button" class="navbar-brand" href="#/">Home</a>
          <a type="button" class="navbar-brand" ng-href="#/client">Cliente</a>
          <a type="button" class="navbar-brand" ng-href="#/product">Produto</a>
        </div>
      </div>
    </nav>
    <div ng-view></div>
  </body>
=======
<html ng-app="ClientModule">
  
  <head>
    <script src="lib/angular.js"></script>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
      form { 
      margin: 0 auto; 
      width:250px;
      }
      
      table {
        
        width: 250px;
      }
    </style>
  </head>
  
  <body ng-controller="ClientController">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button class="navbar-brand" ng-click="loadList()">Cliente</button>
        </div>
      </div>
     
    </nav>
     <div ng-show="clients.length != 0">
       <!-- -->
       
          <div  ng-show="clients">
  <table class="table table-bordered">
    <thead>
      <th>Nome</th>
      <th>Idade</th>
      <th>Apagar?</th>
    </thead>
    <tbody>
      <tr ng-repeat="client in clients" ng-click="sendScope(client.id)">
        <td>{{client.name}}</td>
        <br>
        <td>{{client.age}}</td>
        <td>
          <button type="button" class="glyphicon glyphicon-trash" ng-click='deleteClient(client.id)'></button>
      </tr>
    </tbody>
  </table>
  <br></br>
  <form>
    <div>
      <label>Nome:</label>
      <input type='text' ng-model='client.name' id="name">
    </div>
    <div>
      <label>Idade:  </label>
      <input type='text' ng-model='client.age' id="age">
    </div>
    <div>
      </br>
      <input type='button' class='btn btn-sm btn-default' value='Adicionar' ng-click='addClient()' ng-show="!client.id">
      <input type='button' class='btn btn-sm btn-default' value='Editar' ng-click='updateClient()' ng-show="client.id">
      <input type='button' class='btn btn-sm btn-default' value='Cancelar' id="cancel" ng-click='cancel()'></input>
    </div>
  </form>
  <script src="js/aaClientController.js"></script>
  <script src="js/ClientServices.js"></script>
</div>
     
      </div>
    
  </body>
  <script src="js/app.js"></script>
  <script src="js/aaClientController.js"></script>
  <script src="js/ClientServices.js"></script>
>>>>>>> f97f0f3faea6c38f8ab0a667ef65322973ecb7d1

</html>