<div class="container-fluid">
  <div>
    <label>Filtrar:</label>
    <input type="text" id="name" ng-model="name"></input>
  </div>
  <table class="table table-bordered">
    <thead>
      <th>Nome</th>
      <th>Idade</th>
      <th>Apagar?</th>
    </thead>
    <tbody>
      <tr ng-repeat="client in clients | filter:name" ng-click="sendScope(client.id)">
        <td>{{client.name}}</td>
        <td>{{client.age}}</td>
        <td>
          <button type="button" class="glyphicon glyphicon-trash" ng-click='deleteClient(client.id)'></button>
        </td>
      </tr>
    </tbody>
  </table>
  <br></br>
  <form>
    <div>
      <label>Nome:</label>
      <input type='text' ng-model='client.name' id="name">
    </div>
    <div>
      <label>Idade:</label>
      <input type='text' ng-model='client.age' id="age">
    </div>
    <div>
      </br>
      <input type='button' class='btn btn-sm btn-default' value='Adicionar' ng-click='addClient()' ng-show="!client.id">
      <input type='button' class='btn btn-sm btn-default' value='Editar' ng-click='updateClient()' ng-show="client.id">
      <input type='button' class='btn btn-sm btn-default' value='Cancelar' id="cancel" ng-click='cancel()'></input>
    </div>
    <div></div>
     <div><br></br></div>
  </form>
 
  <div my-customer ng-show="client.id" client="client"></div>
    
  <script src="/js/ClientServices.js"></script>
</div>