<div class="container-fluid">
  <table class="table table-bordered">
    <thead>
      <th>Nome</th>
      <th>Descrição</th>
      <th>Quantidade</th>
      <th>Apagar?</th>
    </thead>
    <tbody>
      <tr ng-repeat="product in products" ng-click="sendScope(product)">
        <td>{{product.name}}</td>
        <td>{{product.description}}</td>
        <td>{{product.quantity}}</td>
        <td>
          <button type="button" class="glyphicon glyphicon-trash" ng-click='deleteProductForClient(client.id,product)'></button>
        </td>
      </tr>
    </tbody>
  </table>
  <br></br>
  <form ng-show="client.id">
  
    <div>
      <label>Nome:</label>
    <input type='text' ng-model='productNew.name' id="name"/>
    </div>
    <div>
      <label>Descrição:</label>
      <input type='text' ng-model='productNew.description' id="description"/>
    </div>
    <div>
      <label>Quantidade:</label>
      <input type='text' ng-model='productNew.quantity' id="quantity"/>
    </div>
    <div>
      </br>
      <input type='button' class='btn btn-sm btn-default' value='Adicionar' ng-click='addProduct(client.id)' ng-show="!product.id">
      <input type='button' class='btn btn-sm btn-default' value='Editar' ng-click='updateProduct(client.id, product.id)' ng-show="product.id" >
      <input type='button' class='btn btn-sm btn-default' value='Cancelar' id="cancel" ng-click='cancel()'></input>
    </div>
  </form>
  </script>
</div>